// settings
$font-main: "Cal Sans", sans-serif;
$font-main-2: "Manrope", sans-serif;
$fontIcon: "icomoon";

:root {
    --Black: #000000;
    --White: #ffffff;
    --Text-body: #727272;
    --Primary: #d1f801;
    --Secondary: #080807;
    --Text-5C5E61: #5c5e61;
    --Line: rgba(255, 255, 255, 0.1);
    --Text-FFA800: #ffa800;
    --Color-F5F5F5: #f5f5f5;
}
